.custom-logo {
  width: 100px;
  height: 100px;
  float: none;
  margin: -15px;
}

.site-header .site-title a:hover {
  float: none;
  color: #ff0000;
}

.site-branding {
  float: none;
}